@import "../common_styles/fonts";
@import "../common_styles/variables";
@import "../common_styles/mixins";


.footerContainer {
  margin-top: 5rem;
  padding: 0.5rem 2rem;
  width: 100%;
  background-color: rgb(241, 241, 241);
  @include display_flex(space-between, center);



  p {
    color: rgb(33, 33, 33);
    font-size: 16px;
    line-height: 26px;
    font-family: $OpenSans;
    margin: 0;
  }

  .iconContainer {
    position: relative;
    top: -2px;
    margin-left: 1rem;

    svg {
      color: rgb(90, 90, 90);
      font-size: 18px;
      margin-right: 0.5rem;
    }
  }
}

// media queries 
@media(max-width : 576px) {
  .footerContainer {
    @include display_flex(center, center) {
      flex-direction: column;
    }

    ;

    p {
      color: rgb(90, 90, 90);
      font-size: 12px;
      line-height: 20px;
    }
  }
}