@import "../common_styles/variables";
@import "../common_styles/mixins";

.accountContainer {
  margin-top: 2rem !important;
  height: 30vh;
  border-radius: 5px;
  padding: 0.5rem;

  .backLink {
    display: inline-block ;
    color: $light_blue !important;
    margin-bottom: 1rem;
  }

  p {
    @include reset_margin_padding;

    span {
      color: $darkgray;
    }
  }

  .changePasswordBtn {

    @include btn_on_hover($white, $black);
    border: none;
    padding: 0.3rem 0.8rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    font-size: 0.9rem;

    &:hover {
      @include btn_on_hover($black, $white) {
        border: 1px solid $darkgray
      }

      ;
    }
  }
}