$white:#fff;
$white1:rgb(253, 253, 253);
$black :#212121;
$gray:rgb(245, 245, 245);
$lightgray:lightgray;
$khaki:rgb(177, 171, 156);
$primary:#0D6EFD;
$ultra_lightgray :rgb(230, 230, 230);
$darkgray:darkgray;
$gradient1:linear-gradient(240deg, #ed5252,#324cb4);
$deadRed :rgb(205, 71, 71);
$light_blue:rgb(129, 182, 213);